.image{
    height: 350px;
    width: 1281px;
}
.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 3%;
    font-size: 50px;

    margin-left: 40px;

}
.transparent-background {
    background-color: transparent;
    border: 2px solid black;
}

