
.ima{
    border: 4px solid red ;
    cursor: pointer;
    
}
.rabat{
    border: 4px solid blue ;
    cursor: pointer;
}
.agadir{
    border: 4px solid yellow ;
    cursor: pointer;
}
.tanger{
    border: 4px solid green ;
    cursor: pointer;
}
.fes{
    border: 4px solid blue ;
    cursor: pointer;
}
.hh{

}
